@import url("/styles/header.css");
@import url("/styles/main.css");
@import url("/styles/footer.css");
:root{
    --red: #E23E57;
    --brown: #473C33;
    --principal: #FEFCF3;
    --grey: #EEEEEE;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: 'roboto';
    background-color: var(--grey);
}