.first__container{
    position: absolute;
    top: 40%; 
    left: 35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.title__first{
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Shadows Into Light';
    color: #fff;
}
.btn__first{
    background-color: var(--red);
    padding: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    color: #fff;
}
.btn__first:hover{
    box-shadow: 1px 1px 8px #000;
    transition: 0.3s;
    transform: scale(1.1);
}
.principal-foods{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.principal-foods h1{
    font-size: 2rem;
    color: var(--red);
    padding: 20px 10px;
}
.principal-foods p{
    padding: 20px 10px;
}
.foods-img{
    width: 350px;
    height: 200px;
    object-fit: cover;
}
.food-item{
    background-color: #f9f5f5;
    margin: 10px;
}
.food-item:hover{
    transform: scale(1.1);
    transition: 0.4s;
}
.btn-foods{
    text-transform: uppercase;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: var(--red);
    padding: 1rem;
    margin: 10px;
}
.btn-foods:hover{
    background-color: #fff;
    color: var(--red);
    border:0.1px solid var(--red);
}
.scroll{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
    z-index: 999;
}
@media screen and (max-width: 600px) {
    .first__container{
        top: 20%;
        right: 30%;
    }
    .btn__first{
        font-size: 12px;
    }
    .principal-foods{
        flex-direction: column;
    }
    .food-item{
        margin: 0;
    }
}